
.k {
color:#007020;
font-weight:bold;
}
.o {
color:#666666;
}
.kn {
color:#007020;
font-weight:bold;
}
.s {
color:#4070A0;
}
.nb {
color:#007020;
}
.nf {
color:#06287E;
}
.nn {
color:#0E84B5;
font-weight:bold;
}
.ow {
color:#007020;
font-weight:bold;
}
.mi {
color:#208050;
}
.sd {
color:#4070A0;
font-style:italic;
}
.se {
color:#4070A0;
font-weight:bold;
}
.si {
color:#70A0D0;
font-style:italic;
}
